body {
	font-family: monospace;
	background-color: #222;
}
.left-bar {
	background-color: #1c1c1c;
	width: 400px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	position: absolute;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.field-title {
	padding-top: 5px;
	padding-left: 10px;
	color: #aaa;
}
textarea {
	background-color: #2c2c2c;
	margin: 10px;
	width: 378px;
	height: 100px;
	color: #ccc;
}
select {
	background-color: #2c2c2c;
	margin: 10px;
	width: 378px;
	color: #ccc;
	padding: 3px;
	font-family: monospace;
}
.canvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 400px;
	right: 0px;
	overflow: hidden;
}
